.chat-box {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    height: calc(var(--vh, 1vh) * 70);
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    resize: auto;
    min-height: -webkit-fill-available;
    transition: height 0.3s ease-out;
    /* add a transition for smoother resizing */
}

/* increase the chat box height when the soft keyboard is showing */
@media screen and (max-width: 767px) {
    .chat-box:focus-within {
        height: calc(var(--vh, 1vh) * 70);
    }
}

.messages-container {
    overflow-y: auto;
    padding: 10px;
    flex-grow: 1;
}

.message-form {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-grow: 0;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.chat-header h3 {
    margin: 0;
}

body {
    -moz-transform: scale(1.3);
    /* for Firefox, default 1*/
    zoom: 130%;
    /* For Chrome, IE, default 100%*/
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.message.sent {
    align-items: flex-end;
}

.message.received {
    align-items: flex-start;
}

.message.received .message-text {
    background-color: #eee;
    color: #333;
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    margin-right: 50px;
}

.message.sent .message-text {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 10px;
    padding: 10px;
    margin-left: 50px;
}

.message-input {
    flex-grow: .5;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.send-button {
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    outline: none;
    cursor: pointer;
}


/* Start "pending message" flashing dots */

.message.received .message-pending .dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 0.5s infinite linear alternate;
    animation-delay: 0.25s;
}

.message.received .message-pending .dot-flashing::before,
.message.received .message-pending .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.message.received .message-pending .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 0.5s infinite alternate;
    animation-delay: 0s;
}

.message.received .message-pending .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 0.5s infinite alternate;
    animation-delay: 0.5s;
}

@keyframes dot-flashing {
    0% {
        background-color: #9880ff;
    }

    50%,
    100% {
        background-color: rgba(152, 128, 255, 0.2);
    }
}


.message.received .message-pending {
    background-color: #eee;
    color: #333;
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    margin-right: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End "pending message" flashing dots */