<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Everly's chatbot</title>
    <link rel="stylesheet" href="static/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="chat-box">
        <div class="chat-header">
            <button id="clear-button"><i class="fa fa-trash-o"></i></button>
            <h3>Chat</h3>
        </div>
        <div class="messages-container">
            <!-- Messages will be loaded here dynamically -->
        </div>
        <form class="message-form">
            <input type="text" class="message-input" placeholder="Type your message...">
            <button type="submit" class="send-button"><i class="fa fa-paper-plane-o"></i></button>
        </form>
    </div>
    <script src="static/assets/js/main.js"></script>
</body>

</html>